<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">
      <link rel="stylesheet" href="./lista-compras.css">
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>
  <div id="app">

    <form v-on:submit.prevent="addItem">
 <div class="title">
    <h1 class="list">Lista de compras</h1>
  
<div class="form">
  <p>Item</p>
  <div class="qtd">
    <p>Quantidade</p>
  </div>
  <span class="category">
    <p>Categoria</p>
  </span>
   
</div>

<div class="inputs">
  <input type="text"  id="input"  v-model="itemName" required></input>
  <input type="text" value="1" id="input-qtd" v-model="itemNumber" required></input>
  <select class="select" id="select-qtd" v-model="qtdSelected">
    <option selected>UN</option>
    <option>L</option>
    <option>Kg</option>
    
    <!-- Adicione mais estados conforme necessário -->
  </select>
  <select id="categoriasSelected" v-model="categoriasSelected">
         
    <option value="un" selected disabled>Selecione</option>
    <option value="un"><ion-icon name="pizza-outline">Padaria</ion-icon></option>
    <option value="l">Legume</option>
    <option value="kg">Fruta</option>
    <option value="l">Carne</option>
    <option value="kg">Bebida</option>
    </select>
    <button type="submit">
      <img src="./Icon.png" id="icon"></button>
  </form>
    </div>
    </div>
    

  <div>
    <p>Shopping list:</p>
    <ul>
      <li v-for="(item, index) in shoppingList" :key="index">
        <div class="shopping">
          <input type="checkbox" id="checkbox"/>
        <label id="name">{{ item.name }}</label>
        <label id="number">{{ item.number}}</label>
        <label>{{ item.categoriasSelected}}</label>
        </div>
    </ul>
  </div>
</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        itemName: null,
        itemNumber: null,
        categoriasSelected:'',
        shoppingList: [
          { name: 'Tomatoes', number: 5 }
        ],
        qtdSelected:[]
      }
    },
    methods: {
      addItem(){
        let item = {
          name: this.itemName,
          number: this.itemNumber
          
        }
        if(this.categoriasSelected) {
        this.shoppingList = this.categoriaSelected;
      }
      
        this.shoppingList.push(item)
        this.itemName = null
        this.itemNumber = null  
      }
    }
  })
 app.mount('#app')
</script>

    </body>
    <!-- Adicione mais estados conforme necessáa</p>
</div>
</div>
</body>
</html>


