<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="./padaria.png"/>
    <title>Lista de compras</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">
    <link rel="stylesheet" href="./lista-compras.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <form v-on:submit.prevent="addItem">
 <div class="title">
    <h1 class="list">
  <img src="./logo.png" class="logo"/>Mercado</h1>
<div class="form">
  <p>Item</p>
  <div class="qtd">
    <p>Quantidade</p>
  </div>
  <span class="category">
    <p>Categoria</p>
  </span> 
</div>

<div class="inputs">
  <input type="text" id="input-name"  v-model="itemName" required></input>
  <input type="text" value="1" id="input-qtd" v-model="itemNumber" required></input>
  <select class="select-qtd" id="unidadesSelected" v-model="unidadesSelected">
    <option selected  value="unidade">UN</option>
    <option value="litro">L</option>
    <option value="quilo">Kg</option>
  </select>
  <div>
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownButton">
        {{ selectedItem }}
      </button>
      <ul class="dropdown-menu" id="selectedItem" >
        <li class="dropdown-li" v-for="(c,index) in categories" :key="index">
          <a class="dropdown-item d-flex gap-2 align-items-center" href="#" @click="updateSelectedItem(c.name), validationSelect(index)" id="letra-li">
            <img v-bind:src="c.icon">
            {{c.name}}
          </a>
      </ul>
    </div>
  </div>
  <div>  
    <label for="fileInput" class="custom-file-button">Escolher Arquivo</label>
  <input type="file" id="fileInput" style="display: none;" @change="onFileChange" accept="image/*">
  </div>
    <button type="submit" id="submitOrderButton" >
      <img src="./Icon.png" id="icon"></button>
  </form>
  
    </div>
    
    <p v-if="errorMessages" class="errorMessages">{{errorMessages}}</p>
    <p v-if="successMessages" class="successMessages">{{successMessages}}</p>
    </div>
    
    <div class="ul">
      <ul>
        <li class="shopping-list" :class="{ 'imp': item.important}" v-for="(item, index) in shoppingList" :key="index" v-show="!item.found && !item.editing">
          <div class="checkbox">
        <label>Esgotado</label>
       <input class="form-check-input" type="checkbox" v-model="item.important">
          </div>
        <img :src="item.image" class="imgSelect" v-if="item.image">  <div class="shopping"> 
        <label id="name" :class="{ 'impClass': item.important }">
              {{ item.name }}</label>
        <div class="items">
          <label id="number">{{ formattedQuantity(item.number, item.unity) }}</label>
        </div>
        </div>

          <div :class="item.categoryClass">
            <label class="items"><img v-bind:src="item.icon"></label>
            <label>{{ item.category }}</label>
          </div>
           <div class="dropdown">
          <img src="/options.png" data-bs-toggle="dropdown">
      
            <ul class="dropdown-menu" id="selectedItem" >
           <li class="dropdown-li">
              <button v-on:click="item.editing=!item.editing">Editar</button>
            </li>
            <li class="dropdown-li">
              <a class="dropdown-item d-flex gap-2 align-items-center" href="#" 
              @click="deleteItem(index)" id="letra-li" >
              Excluir
              </a>
            </li>
          </div>
      </li>
      </ul>
      <ul>
        <li class="shopping-list" v-for="(item, index) in shoppingList" :key="index" v-show="item.found && !item.editing">
            <div class="checkbox">
             <label>Esgotado</label>
             <input class="form-check-input" type="checkbox" v-model="item.important" v-on:click="item.found=!item.found">
          </div>
            <img :src="selectedFile"  v-model="itemImage" class="imgSelect" alt="Imagem selecionada">
          <div class="shopping">
            <label id="name" class="impClass">{{ item.name }}</label>
            <div class="items">
              <label id="number">{{ formattedQuantity(item.number, item.unity) }}</label>
            </div>
          </div>
          <div :class="item.categoryClass">
            <label class="items"><img v-bind:src="item.icon"></label>
            <label>{{ item.category }}</label>
          </div>
          <img src="/options.png">
        </li>
      </ul>

      <ul>
        <li class="shopping-list" :class="{ 'imp': item.important}" v-for="(item, index) in shoppingList" :key="index" v-show="!item.found && item.editing">
            <div class="checkbox">
             <label>Esgotado</label>
             <input class="form-check-input" type="checkbox" v-model="item.important">
           </div>
           <input type="file" id="fileInput" style="display: none;" @change="onFileChange" accept="image/*">
            <img :src="selectedFile" v-model="itemImage" class="imgSelect" alt="Imagem selecionada" @click="selectImage(index)">
          <div class="shopping">
            <input type="text" v-model="item.name" id="input-name" value="{{item.name}}"/>
             <div class="items">
              <input type="number" v-model="item.number" id="input-qtd"></input>
            </div>
          </div>
            <label class="items"></label>
            <div class="dropdown">
          <div class="dropdown">
            <div :class="item.categoryClass">
              <img v-bind:src="item.icon">
              <label>{{ item.category }}</label>
          </div>

       <div class="dropdown">
          <img src="/options.png" data-bs-toggle="dropdown">
            <ul class="dropdown-menu" id="selectedItem" >
              <li class="dropdown-li">
              <button v-on:click="item.editing=!item.editing">Cancelar Edição</button>
              </li>
              <li class="dropdown-li">
                <a class="dropdown-item d-flex gap-2 align-items-center" href="#" 
                @click="deleteItem(index)" id="letra-li" >
                Excluir
                </a>
              </li>
              <li class="dropdown-li">
                <a class="dropdown-item d-flex gap-2 align-items-center" href="#" 
                @click="editItem(index)" id="letra-li" >
                Salvar
                </a>
              </li>
          </div>
          </ul>
          </div>
          </div>
          </li>
          </ul> 
          </div>
          </div>
          </div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        itemName: null,
        itemNumber: null,
        unidadesSelected: '',
        itemImportant: false,
        shoppingList: [],
        categories:[
          {name:'Padaria', icon:'./padaria.png'},
          {name:'Carne',   icon:'./carne.png'},
          {name:'Legume',  icon:'./legume.png'},
          {name:'Bebida',  icon:'./bebida.png'},
          {name:'Fruta',   icon:'./fruta.png'},
      ],
        selectedItem: 'Selecione',
        errorMessages:'',
        successMessages:'',
        selectedFile: null,
      }
    },
    methods: {
        selectImage(index) {
        this.$refs.fileInput[index].click();
     },
     
      validationSelect(index){
        if(selectedItem === null){
          this.errorMessages= "Selecione uma categoria!"
        }
      },

      editItem(index){
      if (index >= 0 && index < this.shoppingList.length) {
          this.shoppingList.splice(index, 0);
          this.shoppingList[index].editing= false;
      }
      },
      
       deleteItem(index) {
        if (index >= 0 && index < this.shoppingList.length) {
          this.shoppingList.splice(index, 1);
          this.successMessages= 'Produto excluído com sucesso!'
        }
      },
   
      onFileChange(event) {
        const file = event.target.files[0];
          if (file) {
          const reader = new FileReader();
          reader.onload = () => {
          this.selectedFile = reader.result;
        };
          reader.readAsDataURL(file);
        }
      },

      updateSelectedItem(item) {
      this.selectedItem = item;
      },

      addItem() {
       const isDuplicate = this.shoppingList.some(item => item.name === this.itemName);
        if (isDuplicate) {
          this.errorMessages='Produto já cadastrado!';
          return;
        }
        
        let item = {
          name: this.itemName,
          number: this.itemNumber,
          category: this.selectedItem,
          categoryEdit: this.selectedItemEdit,
          unity: this.unidadesSelected,
          image: this.selectedFile,
          important: this.itemImportant,
          editingMode:this.editingMode
        };

        if (this.selectedItem === 'Padaria') {
        item.icon='./padaria.png'
      } else if (this.selectedItem === 'Legume') {
        item.icon='./legume.png'
      } else if (this.selectedItem === 'Carne') {
        item.icon='./carne.png'
      }else if (this.selectedItem === 'Bebida') {
        item.icon='./bebida.png'
      } else if (this.selectedItem === 'Fruta') {
        item.icon='./fruta.png'
      }

      if (this.selectedItem === 'Padaria') {
        item.categoryClass = 'padaria';
      } else if (this.selectedItem === 'Legume') {
        item.categoryClass = 'legume';
      } else if (this.selectedItem === 'Carne') {
        item.categoryClass = 'carne';
      }else if (this.selectedItem === 'Bebida') {
        item.categoryClass = 'bebida';
      } else if (this.selectedItem === 'Fruta') {
        item.categoryClass = 'fruta';
      }

        this.shoppingList.push(item);
        this.errorMessages='',
        this.itemName = '';
        this.itemNumber = null;
        this.itemImportant = false;
        this.unidadesSelected = '';
        this.selectedItem='Selecione';
        this.editingItem=false;
      }
    },

    computed: {
    formattedQuantity() {
      return (quantity, unity) => {
        if (quantity > 1) {
          if (unity === 'litro') {
            return `${quantity} litros`;
          } else if (unity === 'quilo') {
            return `${quantity} quilos`;
          } else {
            return `${quantity} unidades`;
          }
        } else {
          return `${quantity} ${unity}`;
        }
      };
    },
  },

      
  });
  app.mount('#app');
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </body>

</html>